{% extends 'base.html.twig' %}

{% block body %}
    <main id="main_index">
        <section id="hero">
            <h2>Faites l'expérience de l'énergie pure dans sa forme la plus luxueuse</h2>
            <p>Conçu pour ceux qui exigent l'excellence, DrinkMe offre une énergie inégalée avec un goût sophistiqué.
            </p>
            <button><a href="">Découvrez maintenant</a></button>
        </section>
        <section id="qualite">
            <article>
                <img src="{{ asset('media/iconamoon_component-fill.png') }}" alt="">
                <h2>Ingrédients de première qualité</h2>
                <p>Extraits directement du désert de la fatigue pour un tsunami d'énergie !</p>
            </article>
            <article>
                <img src="{{ asset('media/Vector (1).png') }}" alt="">
                <h2>Formule améliorée</h2>
                <p>Développée en laboratoire pour transformer même votre sieste en marathon de productivité !</p>
            </article>
            <article>
                <img src="{{ asset('media/iconamoon_certificate-badge.png') }}" alt="">
                <h2>Édition limitée </h2>
                <p>Des lots exclusifs pour les véritables chasseurs de performance, parce que le ‘normal’ c'est pour les
                    amateurs !</p>
            </article>
        </section>
        <section id="categorie">
            <h2>Nos catégories</h2>
            <article>
                <div>
                    <img src="{{ asset('media/Image.png') }}" alt="">
                </div>
                <p>texte</p>
                <p>$0</p>
                <p>body text.</p>
            </article>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <p></p>
            </article>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <p></p>
            </article>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <p></p>
            </article>
        </section>
        <section id="apropos">

            <div>
                <h2>A propos de nous:</h2>
            </div>
            <p>
                <span>Chez DrinkMe, on a un credo : "Dormir c’est pour les faibles." 😎</span>

                <span>Besoin d’un boost pour affronter la journée ? </span>

                <span>On a ce qu'il te faut : une boisson énergisante 100% naturelle, qui te garde éveillé, concentré et
                    prêt à conquérir le monde.</span>

                <span>Plus de sieste, plus d'excuses. DrinkMe, c’est l’énergie qui n’attend pas.</span>
            </p>
        </section>
    </main>
{% endblock %}
