{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {% for message in app.flashes %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(form) }}
{% endblock %}
